/* Customizing default navbar */
@import '../palette.scss';


.navbar {

    .navbar-items-wrapper {

        .search-box {
            background-color: transparent;

            @media (max-width:719px) {
                margin-right: 0.2rem;
            }

        }
    }

}


html.dark {

    .navbar {

        .navbar-items-wrapper {

            .external-link {
                background-image: url("/docs/.vuepress/public/icons/github-mark-white.svg");;
            }

            .search-box {
                background-color: transparent;


                input {
                    background-color: #262c34;
                }

            }
        }

    }
}