/* Customizing default navbar */
@import '../palette.scss';

.sidebar {
    display: none;

    @media(max-width: 719px) {
        display: block;
        }
    
    

    .navbar-items .navbar-item:last-child {
        height: 100%;
    
        .external-link {
            height: 1.5rem;
            width: 1.5rem;
            fill: $secondaryColor;
            background-image: url("/docs/.vuepress/public/icons/github-mark.svg");
            background-size: contain;
            background-position: center;

            &:hover {
                background-image: url("/docs/.vuepress/public/icons/github-mark-hover.svg");
            }

            span {
                svg {
                    display: none;
                }
            }
        }

        
    }
}

.sidebar-open .sidebar {
    transform: translateX(0);
}

