@import './layout/home.scss';
@import './layout/course.scss';

@import './components/navbar.scss';
@import './components/sidebar.scss';
@import './components/footer.scss';
@import './components/course-list.scss';
@import './components/opinions-carousel.scss';
@import './components/similar-courses-list.scss';
@import './components/contact-form.scss';
@import './components/github-link.scss';
@import './components/toggle-dark-mode.scss';


* {
	font-family: "Exo 2", sans-serif;
}

h1,
h2 {
	color: $primaryColor;
}

.index-course {
	max-width: 1100px !important;

	h1 {
		text-align: center;
	}
}

.theme-default-content {
	margin: 0 auto;
	padding: 2rem 2.5rem;
}

/* 
:root {
	--search-bg-color: white;
} */




.course-layout {

	&.blazor {
		.hero-course {
			background: $blazorBg;
			;
		}
		.learning-outcomes {
			background-color: $blazorOpacity;
			//I want to add opacity to this color here
		}
	}

	&.reporting {
		.hero-course {
			background: $reportingBg;
		}
		.learning-outcomes {
			background-color: $reportingOpacity;
			//I want to add opacity to this color here
		}
	}

	&.dotnet {
		.hero-course {
			background: $dotnetBg;
		}
		.learning-outcomes {
			background-color: $dotnetOpacity;
			//I want to add opacity to this color here
		}
	}
	&.maui {
		.hero-course {
			background: $mauiBg;
		}
		.learning-outcomes {
			background-color: $mauiOpacity;
			//I want to add opacity to this color here
		}
	}
	&.redis {
		.hero-course {
			background: $redisBg;
		}
		.learning-outcomes {
			background-color: $redisOpacity;
			//I want to add opacity to this color here
		}
	}



}

/* Course list */
.course-card.blazor {
	background-color: $blazorColor;
}

.course-card.reporting {
	background-color: $reportingColor;
}

.course-card.dotnet {
	background-color: $dotnetColor;
}

.course-card.maui {
	background-color: $mauiColor;
}

.course-card.redis {
	background-color: $redisColor;
}