@import './layout/home.styl';
@import './layout/course.styl';

@import './components/footer.styl';
@import './components/course-list.styl';
@import './components/opinions-carousel.styl';
@import './components/similar-courses-list.styl';
@import './components/contact-form.styl';
@import './components/github-link.styl';
@import './components/toggle-dark-mode.styl';


*
  font-family: "Exo 2", sans-serif;
  /* box-sizing border-box */


h1, h2
  color: $primaryColor;


.index-course
  max-width 1100px!important
  h1
    text-align: center

